{# templates/blogpost/list_filtered.html.twig #}
{% extends 'layout.html.twig' %}

{% block headline %} <h1>List of featured BlogPosts</h1> {% endblock %}
{% block content %}
    <table>
        <tbody>
        <tr><th>Title</th><th>Content</th><th>Date</th><th>Category</th><th>Featured</th></tr>
        {% for blogPost in blogPost %}
            <tr>
                <td>{{ blogPost.title }}</td>
                <td>{{ blogPost.content }}</td>
                <td>{{ blogPost.date|date('Y-m-d') }}</td>
                <td>{{ blogPost.category }}</td>
                <td>{{ blogPost.featured }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
